.container {
  width: 50%;
  margin: 50px auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
// .troglodyte {
//   background-image: url('truc.jpg');
//   background-size: cover;
//   background-position: center;
// }

.card {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  height: 500px;
  width: 300px;
  text-align: center;
  padding: 50px auto;
  // background-image: url('truc.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  align-items: self-start;









  flex-direction: column-reverse;
  // .link {
  // }
  .link > a {
  padding-left: 4px;
  font-size: 24px;
  color: white;
  }
}
