.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: lightgray solid 1px;
}

.navbar-lewagon .navbar-collapse {
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.item2 {
  color: #777;
  font-size: 14px;
}

.item2 {
 font-size: 14px;
}
